/*body*/
body {
    background-color: rgb(250, 250, 250), hsl(0, 0%, 98%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*main*/

#scalar {
    display: flex;
    justify-content: center;
}

.bodytext {
    text-align: center;
    margin-left: -4;
    margin-bottom: 9em;
}

#bodyul {
    list-style-type: none;
}

.number {
    /*display: flex;
    justify-content: center;*/

}

.numbers {
    background-color: rgb(233, 233, 232);
    position: relative;
    bottom: .4em;
    right: 1em;
    text-align: center;
    border-style: inset;
    border-radius: 50%;
    border-color:  rgb(248, 246, 246);
    height: 28px;
    width: 28px;
    font-size: small;
    margin: auto;
    margin-bottom: 0em;
}

/*header*/
#headerstyle {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /*justify-content: center;*/
    align-items: center;
    margin-top: 3em;
    margin-bottom: 9em;
}

#heroLeft {
    order: -1;
    flex: 1 1 auto;
    margin-right: 3em;
}

#heroRight {
    order: 1;
    flex: 1 1 auto;
    margin-left: 3em;
}

#headerul {
    text-align: center;
    list-style-type: none;
    margin: auto;
}

#firstimgs {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.imgmargin {
    margin: .5em;
    border-style: hidden;
    border-radius: .3em;
}


/*buttons*/
#firstDownload {
    color: rgb(250, 250, 250);
    background-color: rgb(77, 150, 168);
    border-style: hidden;
    border-radius: 2em;
    border-color: inherit;
    width: 8.5em;
    height: 2.2em;
}

.diff1 {
    color: rgb(143, 227, 249);
}

.whatBut {
    color: rgb(250, 250, 250);
    background-color: rgb(133, 95, 177);
    border-style: hidden;
    border-radius: 2em;
    border-color: inherit;
    width: 8.5em;
    height: 2.2em;
}

#footbutton {
    margin: auto;
}

/*Hover states*/
.whatBut:hover {
    background-color:rgb(217, 184, 255);
}

#firstDownload:hover {
    background-color: rgb(143, 227, 249);
}

#dif {
    color: rgb(77, 150, 168);
}

.diff2 {
    color: rgb(217, 184, 255);
}

/*footer*/
#container {
    /*margin: 5% auto;
    background-origin: border-box;
    background-size: cover;*/
    background-color: rgb(77, 150, 168) /*hsla(192, 37%, 48%, .7)*/;
    position: relative;
    max-width: 100%;
    max-height: 100%;
    z-index: 0;
}

.footText  {
    color: rgb(250, 250, 250);
    text-align: left;
    border: 2px hidden;
    margin-left: 3em;
    margin-right: auto;
}

#footdiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*justify-content: space-between;*/
    align-items: center;
    width: 100%;
    height: auto;
    position: absolute;
    top: 35%;
    margin-left: 3em;
    max-width: 100%;
    right: inherit;
}

/*.footdiv1 {
    z-index: 9;
}*/

#footImage {
    /*position: inherit;*/
    /*top: 0;
    left: 0;*/
    opacity: 0.3;
    max-width: 100%;
    max-height: 100%;
}

/*Mobile first*/
@media only screen and (max-width: 600px) {
    body {
    background-color: rgb(234, 241, 241);
    }

    #headerstyle {
        display: grid;
        grid-template-columns: 230px auto;
    }

    .headerpics {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        /*justify-content: flex-start;*/
    }

    #heroLeft {
        order: -2;
        margin-left: -1.2em;
    }

    #heroRight {
        order: -1;
        margin-left: -2.5em;
    }

    #headerul {
        margin-left: 4em;
    }

    #footdiv {
        top: -8%;
        margin: auto;
    }

    #footText1 {
        font-size: .5;
        text-align: center;
    }

    #footText2 {
        font-size: .8em;
        text-align: center;
    }

    #footbutton {
        margin-left: 9.2em;
    }
}