/*body*/
body {
    background-color: rgb(250, 250, 250);
    font-family: 'Red Hat Display', Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    overflow: auto;
}

h1 {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 64px;
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 64px;
    text-align: center;
    color: #28283D;
}

h2 {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 40px;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
}

p {
    font-family: 'Red Hat Display', Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 18px;
}

/*main*/

#scalar {
    position: relative;
    width: 119px;
    height: 28px;
    left: 601px;
    top: 20px;
}

.bodytext {
    text-align: center;
    margin-left: -4;
    margin-bottom: 9em;
}

#bodyul {
    list-style-type: none;
}

#dif {
    color: rgb(77, 150, 168);
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 22px;
    letter-spacing: 4px;
    line-height: 26px;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 1em;
}

.bodyh2 {
    text-align: center;
    color: #28283D;
    margin-top: 0em;
}

.bodydif {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #87879D;
}


.lineOne {
    width: 4em;
    transform: rotate(90deg);
    margin-left: -1em;
    position: relative;
    top: -100%;
    opacity: .4;
}

/*.lineTwo {
    width: 5em;
    transform: rotate(90deg);
    margin-left: -1.5em;
    position: relative;
    top: -100%;
}*/

.numbers {
    background-color: rgb(252, 252, 250);
    position: relative;
    border-style: inherit;
    border-radius: 50%;
    border-color:  rgb(255, 254, 254);
    height: 28px;
    width: 28px;
    font-size: small;
    margin: auto;
    box-shadow: 1px 1px 3px gray;
    top: 12px;
    z-index: 1;
}

.number12 {
    margin: auto;
    margin-left: .5em;
    margin-top: -.2em;
}


/*header*/
#headerstyle {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /*justify-content: center;*/
    align-items: center;
    margin-top: 3em;
    margin-bottom: 9em;
}

#heroLeft {
    order: -1;
    flex: 0 1 auto;
    margin-left: -1.5em;
    width: 200px;
    height: 200px;
}

#heroRight {
    order: 1;
    flex: 0 1 auto;
    margin-right: -.5em;
    width: 200px;
    height: 200px;
}

#headerul {
    text-align: center;
    list-style-type: none;
    margin: auto;
    margin-left: 10em;
}

#firstimgs {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    flex: 0 1 auto;
    margin-top: 50px;
    margin-bottom: 40px;
}

.imgmargin {
    margin: .5em;
    border-style: hidden;
    border-radius: .3em;
}

.headerp {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #87879D;
}


/*buttons*/

button {
    cursor: pointer;
}

#firstDownload {
    color: rgb(250, 250, 250);
    background-color: rgb(77, 150, 168);
    border-style: hidden;
    border-radius: 2em;
    border-color: inherit;
    width: 8.5em;
    height: 2.5em;
}

.diff1 {
    color: rgb(143, 227, 249);
}

.whatBut {
    color: rgb(250, 250, 250);
    background-color: rgb(133, 95, 177);
    border-style: hidden;
    border-radius: 2em;
    border-color: inherit;
    width: 8.5em;
    height: 2.5em;
}

#makeButSmaller {
    width: 6em;
}

#footbutton {
    margin: auto;
}

/*Hover states*/
.whatBut:hover {
    background-color:rgb(217, 184, 255);
}

#firstDownload:hover {
    background-color: rgb(143, 227, 249);
}

.diff2 {
    color: rgb(217, 184, 255);
}

/*footer*/
#container {
    /*margin: 5% auto;
    background-origin: border-box;
    background-size: cover;*/
    background-color: rgb(77, 150, 168) /*hsla(192, 37%, 48%, .7)*/;
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    z-index: 0;
    width: 1440px;
    height: 308px;
    left: 0px;
    top: 1325px;
}

.containerimg {
    height: 308px;
}

.footText  {
    color: rgb(250, 250, 250);
    text-align: left;
    border: 2px hidden;
    margin-left: 5em;
    margin-right: auto;
}

#footdiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*justify-content: space-between;*/
    align-items: center;
    width: 100%;
    height: auto;
    position: absolute;
    top: 30%;
    margin: auto;
    max-width: 100%;
    right: 6%;
}

#footText1 {
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
}

/*.footdiv1 {
    z-index: 9;
}*/

#footImage {
    /*position: inherit;*/
    /*top: 0;
    left: 0;*/
    opacity: 0.3;
    max-width: 100%;
    max-height: 100%;
}



/*Mobile first*/
@media only screen and (max-width: 600px)  {
    /*From header*/

    #scalar {
        margin: 1em 0em;
        position: relative;
        width: 80px;
        height: 24px;
        left: 136.72px;
        top: 10.2px;
    }

    .groupchat {
        position: relative;
        width: 327px;
        height: 88px;
        left: 10px;
        top: 10px;
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        line-height: 44px;
        text-align: center;
        color: #28283D;
    }

    .imgmargin {
        max-width: 150px;
        max-height: 150px;
    }

    #headerstyle {
        display: flex;
        flex-direction: column;
    }

    #heroLeft {
        order: -2;
        margin-left: -1.2em;
        width: 0px;
        height: 0px;
    }

    #heroRight {
        order: -1;
        width: 408px;
        height: 200px;
        margin-bottom: 0em;
    }

    #headerul {
        margin-left: -3em;
    }

    .groupchat {
        margin-left: .7em;
    }

    .headerp {
        font-size: 16px;
        line-height: 26px;
        padding: 0em 2em;
    }

    #firstDownload {
        position: relative;
        left: 40px;
    }

    #makeButSmaller {
        position: relative;
        left: -62px;
        top: 43px;
    }


    /*Main & body*/

    #firstimgs {
        display: grid;
        grid-template-rows: 170px 170px;
        grid-template-columns: 170px 170px;
    }

    #firstDownload {
        margin-bottom: 5px;
    }

    .bodytext {
        margin-left: -2em;
    }

    .lineOne {
        opacity: .2;
    }

    .bodyh2 {
        font-size: 32px;
        line-height: 36px;
    }

    .bodydif {
        font-size: 16px;
        line-height: 26px;
        padding: 0em 2em;
    }

    /*Footer*/

    #footdiv {
        position: absolute;
        top: 20%;
        left: 1%;
    }

    #footText1 {
        font-size: 32px;
        font-style: normal;
        text-align: center;
        margin: auto;
        margin-bottom: .5em;
    }

    #footText2 {
        font-size: 15px;
        text-align: center;
        margin: auto;
        margin-bottom: 1.5em;
    }

    #footbutton {
        margin-left: 10.8em;
    }

    #container {
        height: 19em;
        position: relative;
        left: 0%;
        right: 0%;
        top: 184.4%;
        bottom: 0%;
    }

    .containerimg {
        height: 19em;
    }
}

/*mobile with wider screen like surface pro*/
@media only screen and (min-width: 490px) and (max-device-width: 599px) {
    body {
        margin: 0em ;
    }

    #scalar {
        left: 196.72px;
        top: 10.2px;
    }

    .groupchat {
        left: 90px;
        top: 10px;
    }

    #headerstyle {
        display: flex;
        flex-direction: column;
    }

    #heroLeft {
        order: -2;
        margin-left: -1.2em;
        width: 0px;
        height: 0px;
    }

    #heroRight {
        order: -1;
        width:570px;
        margin-left: -2em;
    }

    .groupchat {
        margin-left: .5em;
    }

    #firstDownload {
        position: relative;
        left: 48px;
    }

    #makeButSmaller {
        position: relative;
        left: -51px;
        top: 43px;
    }

    #footbutton {
        margin-left: 16em;
    }
}

/*Minimum device width of 390 and maximum of 400px*/

@media only screen and (min-device-width: 490px) and (max-device-width: 499px) {
    #heroRight {
        order: -1;
        width:518px;
        margin-left: -2em;
    }

    .groupchat {
        left: 77px;
        top: 10px;
    }

    #footText1 {
        margin-left: 3.5em;
    }

    #footbutton {
        margin-left: 14.6em;
    }
}

/*mobile with wider screen minimum width of 405px*/
@media only screen and (min-width: 405px) and (max-device-width: 415px) {
    .headerpics {
        width:200px;
    }

    #heroRight {
        width:430px;
        height: 140px;
        margin-left: -2em;
    }

    #makeButSmaller {
        position: relative;
        left: -57.5px;
        top: 43px;
    }
}

/*mobile with wider screen minimum width of 416px and maximum of 437*/
@media only screen and (min-width: 416px) and (max-device-width: 439px) {

    #heroRight {
        margin-left: -0.4em;
        width:450px;
        height: 150px;
        margin-left: -2em;
    }

    #makeButSmaller {
        left: -60px;
    }

    .bodydif {
        padding: 0em 3em;
    }

    #footbutton {
        margin-left: 11.3em;
    }
}

/*Mobile with minimum width of 440px maximum of 490px*/
@media only screen and (min-width: 440px) and (max-device-width: 489px) {
    #scalar {
        margin: 1em 0em;
        position: relative;
        width: 80px;
        height: 24px;
        left: 186.72px;
        top: 10.2px;
    }

    #headerul {
        margin: auto;
        margin-left: -2.6em;
    }

    #heroRight {
        order: -2;
        width: 498px;
        height: 170px;
        margin-left: -1em;
    }

    #heroLeft {
        order: -2;
        width: 0px;
        height: 0px;
    }

    .groupchat {
        margin-left: 2em;
    }

    .headerp {
        padding: 0em 4em;
    }

    #footbutton {
        margin-left: 14em;
    }
}

/*Mobile with minimum width of 370px maximum of 390px*/
@media only screen and (min-device-width: 370px) and (max-device-width: 400px) {
    #scalar {
        left: 116.72px;
        top: 10.2px;
    }

    .groupchat {
        position: relative;
        width: 327px;
        height: 88px;
        left: 10px;
        top: 10px;
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        line-height: 44px;
        text-align: center;
        color: #28283D;
    }

    #headerstyle {
        display: flex;
        flex-direction: column;
    }

    #heroLeft {
        order: -2;
        margin-left: -1.2em;
        width: 0px;
        height: 0px;
    }

    #heroRight {
        order: -1;
        width: 400px;
        height: 150px;
        margin-bottom: 0em;
        margin-right: 1.5em;
    }

    #makeButSmaller {
        position: relative;
        left: -59.5px;
        top: 43px;
    }

    #headerul {
        margin-left: -3em;
    }

    .groupchat {
        margin-left: .3em;
    }

    .headerp {
        font-size: 16px;
        line-height: 26px;
        padding: 0em 2em;
    }

    .bodyh2 {
        padding: 0em 1em;
    }

    #footbutton {
        margin-left: 10em;
    }
}

/*Mobile with maximum width of 360px*/
@media only screen and (max-width: 360px) {
    #scalar {
        left: 106.72px;
        top: 10.2px;
    }

    #headerstyle {
        display: flex;
        flex-direction: column;
    }

    #headerul {
        margin: auto;
        margin-left: -3em;
    }

    .bodyh2 {
        font-size: 32px;
        line-height: 36px;
        border-style: hidden;
        padding: 1.1em;
    }

    #heroLeft {
        order: -2;
        margin-left: -1.2em;
        width: 0px;
        height: 0px;
    }

    #heroRight {
        order: -1;
        width: 376px;
        height: 150px;
        margin-left: -1.5em;
    }

    .groupchat {
        margin-left: .1em;
    }

    #makeButSmaller {
        left: -58px;
    }

    #footText1 {
        margin-left: 1.5em;
        margin-bottom: .5em;
    }
    #footText2 {
        margin-left: 2.5em;
        margin-top: 0em;
    }

    #footbutton {
        margin-left: 9em;
    }

    #footdiv {
        top: 18%;
        left: -3%;
        margin: auto;
    }

    #footbutton {
        margin-left: 9.3em;
    }
}

/*Mobile with minimum width of 200px maximum width of 340px*/
@media only screen and (min-device-width: 200px) and (max-width: 359px) {
    #scalar {
        left: 105.72px;
        top: 10.2px;
    }

    body {
        margin-right: -3.5em;
    }

    #heroRight {
        margin-left: -1em;
        width: 350px;
    }

    #makeButSmaller {
        left: -58px;
    }

    #footbutton {
        margin-left: 9.2em;
    }
}

/*Tablet Responsiveness*/
@media only screen and (min-device-width: 601px) and (max-device-width: 930px) {
/*From header*/

    #scalar {
        margin: 1em 0em;
        position: relative;
        width: 80px;
        height: 24px;
        left: 346.72px;
        top: 10.2px;
    }

    .imgmargin {
        max-width: 170px;
        max-height: 170px;
    }

    #headerstyle {
        display: flex;
        flex-direction: column;
    }

    #heroRight {
        order: -2;
        width: 800px;
        height: 185px;
        margin-left: -1em;
    }

    #heroLeft {
        order: -2;
        width: 0px;
        height: 0px;
    }

    .groupchat {
        font-size: 48px;
        line-height: 48px;
        text-align: center;
    }

    .headerp {
        font-size: 16px;
        line-height: 26px;
    }
    
    #headerul {
        margin-left: 7.5em;
    }

    /*From Body to footer*/
    .bodydif {
        font-size: 16px;
    }

    .footText {
        margin-left: 1em;
        text-align: center;
    }

    .lineOne {
        opacity: .2;
    }

    #footdiv {
        display: flex;
        flex-direction: column;
        top: 50%;
        left: 1%;
    }

    #footText1 {
        margin: auto;
        margin-bottom: 0em;
        font-weight: 900;
        font-size: 40px;
        line-height: 44px;
        position: absolute;
        top: -60%;
        bottom: 0%;
    }
    #footText2 {
        margin: auto;
        margin: 1em 0em;
        font-size: 18px;
        line-height: 26px;
        padding: 0em 5em;
    }

    #footbutton {
        margin: auto;
        margin-top: 1.5em;
    }

    #container {
        left: 0px;
        top: 1429.4px;
        width: 968px;
        height: 428px;
        position: absolute;
        max-width: 100%;
        max-height: 100%;
    }

    .containerimg {
        height: 428px;
    }
}

/*Device with max device width of 999px*/
@media only screen and (min-width: 900px) and (max-device-width: 999px) {
    #heroRight {
        order: -2;
        width: 930px;
        height: 219px;
        margin-left: -1.5em;
    }

    #headerul {
        margin-left: 9em;
        margin-top: 2em;
    }

    #container {
        left: 0px;
        top: 1500.4px;
    }
}

/*Device with max device width of 1290px*/
@media only screen and (min-device-width: 1000px) and (max-device-width: 1300px) {
    /*From header*/

    #scalar {
        left: 500.72px;
        top: 10.2px;
    }

    #headerstyle {
        display: flex;
        flex-direction: column;
    }

    #heroRight {
        order: -2;
        width: 1300px;
        height: 270px;
        margin-left: -1.8em;
    }

    #heroLeft {
        order: -2;
        width: 0px;
        height: 0px;
    }

    .groupchat {
        font-size: 68px;
        line-height: 58px;
        text-align: center;
    }

    .headerp {
        font-size: 26px;
        line-height: 26px;
    }
    
    #headerul {
        margin-left: 13em;
    }

    .numbers {
        height: 48px;
        width: 48px;
        font-size: 25px;
        margin: auto;
        box-shadow: 1px 1px 3px gray;
        top: 12px;
        z-index: 1;
    }
    
    .number12 {
        margin: auto;
        margin-left: .37em;
        margin-top: -.27em;
    }
    

    /*Buttons*/
    button {
        font-size: 16px;
    }

    #firstDownload {
        border-color: inherit;
        width: 10em;
        height: 3.5em;
    }

    .whatBut {
        width: 9.5em;
        height: 3.5em;
    }

    #makeButSmaller {
        width: 8em;
    }

    /*From Body to footer*/
    #dif {
        font-size: 30px;
        line-height: 68px;
        letter-spacing: 7px;
    }

    .bodyh2 {
        font-size: 60px;
        line-height: 68px;
    }

    .bodydif {
        font-size: 26px;
        line-height: 38px;
    }

    .footText {
        margin-left: 1em;
        text-align: center;
    }

    #footdiv {
        display: flex;
        flex-direction: column;
        top: 50%;
        left: 1%;
    }

    #footText1 {
        margin: auto;
        margin-bottom: 0em;
        font-weight: 900;
        font-size: 50px;
        line-height: 44px;
        position: absolute;
        top: -60%;
        bottom: 0%;
    }

    #footText2 {
        margin: auto;
        margin: .5em 0em;
        font-size: 24px;
        line-height: 26px;
    }

    #footbutton {
        margin: auto;
        margin-top: 1.5em;
    }

    #container {
        left: 0px;
        top: 1825.4px;
        width: 1290px;
        height: 438px;
        position: absolute;
        max-width: 100%;
        max-height: 100%;
    }

    .containerimg {
        height: 438px;
    }
}

/*Device with max device width of 1290px*/
@media only screen and (min-width: 1000px) and (max-device-width: 1100px) {
    button {
        font-size: 12px;
    }

    #scalar {
        left: 450.72px;
        top: 10.2px;
    }

    .headerp {
        font-size: 22px;
        line-height: 26px;
    }

    #dif {
        font-size: 26px;
        font-weight: 22px;
        letter-spacing: 4px;
        line-height: 26px;

    }

    .groupchat {
        margin-left: .6em;
        font-size: 58px;
        line-height: 58px;
    }

    .bodyh2 {
        font-size: 45px;
        line-height: 48px;
    }
    
    .bodydif {
        font-size: 22px;
        line-height: 28px
    }
    
    .numbers {
        height: 28px;
        width: 28px;
        font-size: small;
        margin: auto;
        box-shadow: 1px 1px 3px gray;
        top: 12px;
        z-index: 1;
    }
    
    .number12 {
        margin: auto;
        margin-left: .5em;
        margin-top: -.2em;
    }

    #heroRight {
        width: 1040px;
        height: 270px;
        margin-left: -1.8em;
    }

    #headerul {
        margin-left: 9.5em;
        margin-top: 2em;
    }

    #footText2 {
        font-size: 22px;
        line-height: 26px;
        margin: 1em 0em;
    }

    #container {
        left: 0px;
        top: 1659.4px;
        width: 1290px;
        height: 438px;
        position: absolute;
        max-width: 100%;
        max-height: 100%;
    }


}